---

- name: check for installation of Anaconda
  become: yes
  stat:
    path: '{{ anaconda_install_dir }}/bin/conda'
  changed_when: false
  register: anaconda_conda_binary

- when: not anaconda_conda_binary.stat.exists
  block:
    - name: download installer...
      become: yes
      become_user: root
      get_url:
        url: '{{anaconda_installer_url}}'
        dest: /tmp/{{anaconda_installer_sh}}
        timeout: '{{anaconda_timeout_seconds}}'
        checksum: '{{anaconda_checksum}}'
        mode: 0755

    - name: install...
      become: yes
      become_user: root
      command: bash /tmp/{{anaconda_installer_sh}} -b -p {{anaconda_install_dir}}
      args:
        creates: '{{anaconda_install_dir}}'

  always:
    - name: delete installer...
      become: yes
      become_user: root
      file:
        path: /tmp/{{anaconda_installer_sh}}
        state: absent

- name: link anaconda...
  become: yes
  become_user: root
  file:
    src: '{{anaconda_install_dir}}'
    dest: '{{anaconda_link_dir}}'
    state: link

- name: update conda pkgs...
  become: yes
  become_user: root
  when: anaconda_pkg_update
  command: '{{anaconda_link_dir}}/bin/conda update -y --all'

- name: remove conda-curl since it conflicts with the system curl
  become: yes
  become_user: root
  conda:
    name: curl
    state: absent
    executable: '{{ anaconda_conda_bin }}'

- name: make system default python etc...
  become: yes
  become_user: root
  when: anaconda_make_sys_default
  with_items:
    - f: anaconda.sh
      d: /etc/profile.d
  template:
    src: '{{ to_template.f }}.j2'
    dest: '{{ to_template.d }}/{{ to_template.f }}'
    mode: '{{ to_template.m | default("0644") }}'
  loop_control:
    loop_var: to_template

- name: install additional packages
  become: yes
  become_user: root
  conda:
    name: '{{ anaconda_pkg }}'
    state: present
    executable: '{{ anaconda_conda_bin }}'
    channels: '{{ anaconda_install_channels | default("") }}'
  with_items: '{{anaconda_install_packages | default([])}}'
  loop_control:
    loop_var: anaconda_pkg
