---
- name: check for existance of Anaconda
  win_stat:
    path: '{{ anaconda_conda_bin }}'
    changed_when: false
  register: anaconda_conda_bin_

- when: not anaconda_conda_bin_.stat.exists
  vars:
    anaconda_installer_dest: '{{ ansible_env.TEMP }}\{{ anaconda_installer_sh }}'
  block:
    - name: download installer...
      win_get_url:
        url: '{{ anaconda_installer_url }}'
        dest: '{{ anaconda_installer_dest }}'
        timeout: '{{ anaconda_timeout_seconds }}'
      register: anaconda_installer

    - name: get installer information
      win_stat:
        path: '{{ anaconda_installer.dest }}'
        checksum_algorithm: md5
        get_checksum: yes
      register: anaconda_installer_

    - name: verify installer checksum
      vars:
        checksum: '{{ anaconda_installer_.stat.checksum }}'
      assert:
        that:
          - 'checksum == anaconda_checksum'
        msg: 'anaconda installer checksum mismatch'

    - name: install...
      win_package:
        path: '{{ anaconda_installer.dest }}'
        creates_path: '{{ anaconda_install_dir }}'
        state: present
        arguments:
          - /InstallationType={{ win_anaconda_installation_type }}
          - /AddToPath={{ win_anaconda_add_to_path | int }}
          - /RegisterPython={{ anaconda_make_sys_default | int }}
          - /S
          - /D={{ anaconda_install_dir }}

  always:
    - name: delete installer...
      win_file:
        path: '{{ anaconda_installer_dest }}'
        state: absent
